<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pdfreaderrr">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".BaseClass"
        android:allowBackup="true"
        android:icon="@drawable/ic_preview"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_preview"
        android:supportsRtl="true"
        android:theme="@style/Theme.PdfReaderrr">
        <activity
            android:name=".ui.TakePermissionActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />



        </activity>
        <activity
            android:name=".ui.GetReadyActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.SettingConActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ui.PdfShowingScreen"
            android:exported="false" />
        <activity
            android:name=".ui.BrowsePictureActivity"
            android:exported="true" />
        <activity
            android:name=".ui.OnBoardingScreen"
            android:exported="false" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>